<div class="welcome">
    <h4>The Abundancia</h4>
</div>

<div class="table-margin">
    <!-- title for menu -->
    <h2>Breakfast</h2>

    <table class="table is-striped is-bordered">
        <thead>
            <tr>
                <!-- Español -->
                <th>Name</th>
                <th>Price</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><strong>Sweet Corn Pie With Cheese</strong></td>
                <td>$3.50</td>
                <td>Arepa de chocolo con queso</td>
            </tr>
            <tr>
                <td><strong>Corn Pie With Cheese</strong></td>
                <td>$2.99</td>
                <td>Arepa con queso</td>
            </tr>
            <tr>
                <td><strong>Corn Pie Without Cheese</strong></td>
                <td>$1.99</td>
                <td>Arepa sin queso</td>
            </tr>
            <tr>
                <td><strong>Omelette with four toppings</strong></td>
                <td>$6.50</td>
                <td>Omelette con cuaíro epciones y tosíada servido con chocolate o cafè</td>
            </tr>
            <tr>
                <td><strong>Eggs your way with beans & and rice</strong></td>
                <td>$7.25</td>
                <td>Huevos y calentado servido con chocolate o cafè</td>
            </tr>
            <tr>
                <td><strong>Eggs your way with calentado, corn pie & chesse (Served with hot cholate or coffee)</strong></td>
                <td>$9.25</td>
                <td>Huevos, calentado con arepa y queso servido con chcolate o cafè</td>
            </tr>
            <tr>
                <td><strong>Eggs your way with steak (Served with hot chocolste or coffee)</strong></td>
                <td>$6.99</td>
                <td>Huevos con carne (Servido con chcolate o cafè)</td>
            </tr>
            <tr>
                <td><strong>Executive Breakfast / Desayuno Fuliado</strong></td>
                <td>$10.99</td>
                <td>
                    Eggs your way with calentado, beef, corn pie and cheese/ Huevos, calentado con carne, arepa con queso servido con chocolate o cafè
                </td>
            </tr>
            <tr>
                <td><strong>Colombian Breakfast/ Desayuno Colombiano</strong></td>
                <td>$6.99</td>
                <td>
                    Eggs, arepa with chesse, hot chocolate or coffee / Huevos, arepa con queso, chocolate or cafè
                </td>
            </tr>
            <tr>
                <td><strong>Mountaineer Breakfast / Desayuno Colombiano</strong></td>
                <td>$9.50</td>
                <td>Eggs, arepa with cheese, sausage, hot chocolate or coffee / Huevos, arepa con queso, chorize, chocolate o cafè</td>
            </tr>
            <tr>
                <td><strong>Fried Eggs / Huevos Fritos</strong></td>
                <td>$1.50</td>
                <td></td>
            </tr>
            <tr>
                <td><strong>Scrambled Eggs / Huevos Revueltos</strong></td>
                <td>$1.99</td>
                <td></td>
            </tr>
            <tr>
                <td><strong>Scrambled Eggs with tomato and onion / Huevos Pericos</strong></td>
                <td>$2.50</td>
                <td></td>
            </tr>
    </table>

    <!-- menu title -->
    <h2 style="margin-left: 5.5vw;">Appetizers / Antojitos</h2>

    <table class="table is-striped is-bordered">
        <thead>
            <tr>
                <!-- Español -->
                <th>Name</th>
                <th>Price</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><strong>Empanadas</strong></td>
                <td>$1.50</td>
                <td></td>
            </tr>
            <tr>
                <td><strong>Papa Rellena</strong></td>
                <td>$2.60</td>
                <td></td>
            </tr>
            <tr>
                <td><strong>Chicharron con arepa</strong></td>
                <td>$4.50</td>
                <td></td>
            </tr>
            <tr>
                <td><strong>Chorizo o Morzilla con arepa</strong></td>
                <td>$2.99</td>
                <td></td>
            </tr>
            <tr>
                <td><strong>Arepa Rellean</strong></td>
                <td>$6.99</td>
                <td></td>
            </tr>
            <tr>
                <td><strong>Sandwich</strong></td>
                <td>$6.50</td>
                <td></td>
            </tr>
            <tr>
                <td><strong>Hamburguesa</strong></td>
                <td>$5.99</td>
                <td></td>
            </tr>
            <tr>
                <td><strong>Picada (Grande)</strong></td>
                <td>$20.99</td>
                <td>Chorizo, Chicharron, morcilla, carne, papa cri-olla, platanos y arepa</td>
            </tr>
            <tr>
                <td><strong>Picada (Pequena)</strong></td>
                <td>$15.99</td>
                <td>Chorizo, Chicharron, morcilla, carne, papa cri-olla, platanos y arepa</td>
            </tr>
    </table>

    <!-- menu title -->
    <h2 style="margin-left: 7.5vw;">Sides / Porciones</h2>

    <table class="table is-striped is-bordered">
        <thead>
            <tr>
                <!-- Español -->
                <th>Name</th>
                <th>Price</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><strong>Avocado / Aguacate</strong></td>
                <td>$1.50</td>
                <td></td>
            </tr>
            <tr>
                <td><strong>Rice / Arroz</strong></td>
                <td>$1.50</td>
                <td></td>
            </tr>
            <tr>
                <td><strong>Salad / Ensalada</strong></td>
                <td>$2.50</td>
                <td></td>
            </tr>
            <tr>
                <td><strong>Beans / Frijoles</strong></td>
                <td>$2.50</td>
                <td></td>
            </tr>
            <tr>
                <td><strong>Sweet Plantains / Maduros</strong></td>
                <td>$1.99</td>
                <td></td>
            </tr>
            <tr>
                <td><strong>Green Plantains/ Tostones</strong></td>
                <td>$1.99</td>
                <td></td>
            </tr>
            <tr>
                <td><strong>Fried Yucca / Yucca Frita</strong></td>
                <td>$1.99</td>
                <td></td>
            </tr>
            <tr>
                <td><strong>Steak / Carne</strong></td>
                <td>$2.99</td>
                <td></td>
            </tr>
            <tr>
                <td><strong>Chicken / Pollo</strong></td>
                <td>$2.99</td>
                <td></td>
            </tr>
            <tr>
                <td><strong>Tilapia</strong></td>
                <td>$2.99</td>
                <td></td>
            </tr>
    </table>

    <!-- menu title -->
    <h2 style="margin-left: 11.5vw;">Drinks</h2>
    <table class="table is-striped is-bordered">
        <thead>
            <tr>
                <!-- Español -->
                <th>Name</th>
                <!-- <th>Price</th>
                <th>Description</th> -->
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><strong>Milo caliente / Frio</strong></td>
            </tr>
            <tr>
                <td><strong>Natural Juices / Jugos Neturales</strong></td>
            </tr>
            <tr>
                <td><strong>Colombian Sodas / Sodas Colombiano</strong></td>
            </tr>
            <tr>
                <td><strong>National Sodas / Sodas Nacionales</strong></td>
            </tr>
            <tr>
                <td><strong>Chocolate</strong></td>
            </tr>
            <tr>
                <td><strong>Oatmeal drink / Avena</strong></td>
            </tr>
    </table>

</div>


<!--        <h2>La Abundancia LLC</h2>-->
<!--        <h2>Good Food. Good Friends. Good Times.</h2>-->
<!--        <h2>1555 FL -436 Winter Park, FL 32792</h2>-->
<!--                    <h2>(407) 671-0511</h2>        -->